[DEFAULT]
WsUserKey=
WsOrgToken=
WsUrl=saas.whitesource.com
ReportTypes=
OperationMode=FilterProjectsByUpdateTime
#OperationMode=FilterProjectsByLastCreatedCopies
OutputDir=
ExcludedProductTokens=
IncludedProductTokens=
AnalyzedProjectTag=
AnalyzedProjectTagRegexInValue=
DaysToKeep=21
ProjectParallelismLevel=5
DryRun=false
SkipReportGeneration=false
SkipProjectDeletion=false
ExcludedProjectTokens=
ExcludedProjectNamePatterns=
